<h2 class="mat-h2 accent">{{ 'REGISTER.COMPANY_PROFILE.CONTACT_INFO' | translate }}</h2>
<form [formGroup]="formGroup" *ngIf="formGroup">
  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <input
        matInput
        class="form-control"
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.FIRST_NAME' | translate }}"
        name="contactFirstName"
        formControlName="contactFirstName"
      />
      <mat-error *ngIf="formGroup.get('contactFirstName').invalid">{{
        'REGISTER.COMPANY_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <input
        matInput
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.LAST_NAME' | translate }}"
        name="contactLastName"
        formControlName="contactLastName"
      />
      <mat-error *ngIf="formGroup?.get('contactLastName').invalid">{{
        'REGISTER.COMPANY_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <input
        type="email"
        matInput
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.YOUR_EMAIL' | translate }}"
        name="contactEmail"
        formControlName="contactEmail"
      />
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <input
        matInput
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.PHONE_NUMBER' | translate }}"
        name="contactTelephone"
        formControlName="contactTelephone"
      />
      <mat-error *ngIf="formGroup?.get('contactTelephone').hasError('pattern')">{{
        'REGISTER.COMPANY_PROFILE.TELEPHONE_VALIDATION' | translate
      }}</mat-error>
      <mat-error *ngIf="formGroup?.get('contactTelephone').hasError('required')">{{
        'REGISTER.COMPANY_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>
</form>
