.avatar-upload {
  position: relative;
  max-width: 205px;

  .avatar-edit {
    position: absolute;
    z-index: 1;
    top: 70px;

    input {
      display: none;

      + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #ffffff;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
      }
    }
  }

  .avatar-preview {
    width: 92px;
    height: 92px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

    > img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.delete-btn {
  position: relative;
  z-index: 1;
  top: 70px;

  .mat-icon-button {
    display: inline-block;
    width: 34px;
    height: 34px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
}
