<form [formGroup]="formGroup" *ngIf="formGroup">
  <div class="avatar-upload">
    <div class="avatar-edit">
      <input type="file" #imageUpload id="imageUpload" accept="image/jpeg, image/png" (change)="onFileChange($event)" />
      <label for="imageUpload" fxLayoutAlign="center center">
        <mat-icon>
          edit
        </mat-icon>
      </label>
    </div>
    <div fxLayout="row">
      <div class="avatar-preview">
        <img id="imagePreview" [src]="sanitizeUrl(url)" alt="" />
      </div>
      <div fxLayoutAlign="center" class="delete-btn">
        <button mat-icon-button (click)="resetLogo()" class="mat-icon-button" [disabled]="disableDelete">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <input formControlName="logo" hidden />
</form>
