<!--
  ~     Copyright (C) 2020 PeopleWare NV
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->
<section fxFlex fxLayout="column" fxLayoutGap="20px">
  <app-info-title [title]="'RANKING.GLOBAL_COMPANY_RANKING' | translate"></app-info-title>
  <div *ngIf="!companyAggregates && !isLoading">
    <strong>{{ 'RANKING.NOT_FOUND' | translate }}</strong>
  </div>
  <div class="container" fxLayout="column">
    <div *ngIf="isLoading" fxFill fxLayoutAlign="center center">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <div
      fxLayout="column"
      [ngClass.gt-xs]="'table-container'"
      [ngClass]="'small-table-container'"
      fxLayoutAlign="center center"
      [fxShow]="!isLoading && companyAggregates"
    >
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon color="accent">
          filter_alt
        </mat-icon>
        <mat-form-field fxFlex color="accent">
          <input
            matInput
            (keyup)="applyFilter($event)"
            class="form-control"
            placeholder="{{ 'RANKING.FILTER_COMPANY' | translate }}"
          />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <table mat-table [dataSource]="companyDataSource">
          <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.RANK' | translate }}</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ element.rank }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <div fxLayout="row" fxLayoutGap="4px">
                <div fxLayout="column" fxLayoutAlign="center" class="image-container-width">
                  <div class="image-container">
                    <img *ngIf="element.logo" [src]="element.logo" />
                  </div>
                </div>
                <div fxLayoutAlign="start center">{{ element.name }}</div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="steps">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row" fxLayoutAlign="end">
                <p>{{ 'RANKING.STEPS_AVG' | translate }}</p>
              </div>
            </th>
            <td mat-cell class="column-width" *matCellDef="let element">
              <p fxLayoutAlign="end">{{ element.averageSteps }}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayout="row">
                <button mat-icon-button>
                  <fa-icon (click)="showPage()" class="icon" icon="trophy"></fa-icon>
                </button>
              </div>
            </th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns; let entry"
            [ngClass]="{ highlight: entry.companyId == companyId }"
          ></tr>
        </table>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <mat-paginator #paginator hidePageSize pageSize="10" (page)="getLogos($event)"></mat-paginator>
      </div>
      <div fxLayoutAlign="center">
        <p class="italic">
          {{ 'RANKING.INFO_PART_1' | translate }}
          <fa-icon icon="trophy"></fa-icon>
          {{ 'RANKING.INFO_PART_2' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
