<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<div class="register-background"></div>
<section class="payment-preparation-form">
  <form
    fxFlex.gt-sm="40"
    fxFlex="90"
    class="pink-march-card"
    fxLayout="column"
    fxLayoutGap="10px"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmitFormClick()"
    *ngIf="formGroup"
  >
    <h2 fxLayout="row" fxLayoutAlign="center center" class="accent">{{ 'TITLE' | translate }}</h2>
    <div fxLayout="row">
      <mat-form-field fxFlex color="accent">
        <input
          matInput
          type="number"
          [placeholder]="'REGISTER.PAYMENT_PREPARATION.PERSONS' | translate"
          formControlName="numberOfSlots"
        />
        <mat-error *ngIf="formGroup?.get('numberOfSlots')?.invalid">
          {{ 'REGISTER.PAYMENT_PREPARATION.ERROR_WRONG_NUMBER' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" [fxShow]="isTeam && flowType !== 'additional'">
      <mat-form-field color="accent" fxFlex>
        <input
          matInput
          placeholder="{{ 'REGISTER.PAYMENT_PREPARATION.TEAM_NAME' | translate }}"
          formControlName="teamName"
        />
        <mat-error *ngIf="formGroup?.get('teamName')?.invalid">
          {{ 'REGISTER.PAYMENT_PREPARATION.ERROR_EMPTY_FIELD' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-checkbox
        fxFlex
        [formControl]="hasVoucherControl"
        name="agree"
        color="accent"
        (change)="onHaveVoucherChanged($event)"
      >
        <p class="font">{{ 'REGISTER.PAYMENT_PREPARATION.VOUCHER_INFO' | translate }}</p>
      </mat-checkbox>
    </div>

    <div fxLayout="row" [fxShow]="hasVoucherControl.value">
      <mat-form-field color="accent" fxFlex>
        <input
          matInput
          placeholder="{{ 'REGISTER.PAYMENT_PREPARATION.VOUCHER_CODE' | translate }}"
          formControlName="voucherCode"
        />
        <mat-error *ngIf="formGroup?.get('voucherCode')?.invalid">
          {{ 'REGISTER.PAYMENT_PREPARATION.ERROR_EMPTY_FIELD' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" style="height: 50px" *ngIf="calculationResult" fxLayoutAlign="center center">
      <div fxLayout="row">
        <h2 class="accent">
          {{ 'REGISTER.PAYMENT_PREPARATION.TOTAL_AMOUNT' | translate }}
          {{ calculationResult.total | currency: 'EUR':'symbol' }}
        </h2>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <p>
        {{ 'REGISTER.PAYMENT_PREPARATION.INFO' | translate }}
      </p>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
      <button type="button" (click)="onBackClick()" mat-raised-button color="accent">
        {{ 'REGISTER.PAYMENT_PREPARATION.GO_PROFILE' | translate }}
      </button>
      <button type="submit" id="submit" mat-raised-button color="accent" [disabled]="formGroup?.invalid || isBusy">
        {{ 'REGISTER.PAYMENT_PREPARATION.PROCEED' | translate }}
      </button>
    </div>
  </form>
</section>
