<div class="preferences-container" fxFill fxLayoutAlign="center start">
  <div *ngIf="isLoading" fxFill fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div class="pink-march-card" fxFlex.gt-sm="40" fxFlex="90" fxLayout="column" *ngIf="!isLoading">
    <h2 fxLayout="row" fxLayoutAlign="start center" class="accent">{{ 'NAVIGATION.PREFERENCES' | translate }}</h2>
    <form [formGroup]="formGroup" fxLayout="column">
      <mat-form-field color="accent" fxFlex>
        <mat-select formControlName="language">
          <mat-option *ngFor="let language of languageSelections; trackBy: trackByFn" [value]="language">{{
            language | translate
          }}</mat-option>
        </mat-select>
        <mat-label>{{ 'REGISTER.PERSONAL_PROFILE.LANGUAGE' | translate }}</mat-label>
      </mat-form-field>
      <div formGroupName="verifiedEmail">
        <mat-form-field color="accent" fxFlex>
          <input
            type="email"
            matInput
            [placeholder]="'REGISTER.PERSONAL_PROFILE.YOUR_EMAIL' | translate"
            name="email"
            formControlName="email"
          />
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-checkbox fxFlex color="accent" [formControl]="formGroup?.get('newsletter')">
          <p class="accent">{{ 'REGISTER.PERSONAL_PROFILE.NEWSLETTER' | translate }}</p>
        </mat-checkbox>
      </div>
      <div fxLayoutAlign="end">
        <button
          mat-raised-button
          color="accent"
          [disabled]="!formGroup.valid || !formGroup.dirty || isSaving"
          (click)="saveAccountPreferences()"
        >
          {{ 'REGISTER.PERSONAL_PROFILE.SUBMIT' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
