<!--
  ~     Copyright (C) 2020 PeopleWare NV
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->
<section fxLayout="column" *ngIf="isLoading" fxFill fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</section>
<section class="container" fxLayout="column" [fxShow]="!isLoading">
  <div fxLayout="row">
    <div fxFlex.gt-sm="45" fxFlex="90" fxLayout="column" class="pink-march-card">
      <h2 class="accent">{{ 'OVERVIEW.COMPANY_TEAM' | translate }}</h2>
      <div *ngIf="!companyTeams && !isLoading">
        <strong>{{ 'OVERVIEW.COMPANY_TEAM_NOT_FOUND' | translate }}</strong>
      </div>
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="column" [fxShow]="companyTeams && !isLoading">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ 'OVERVIEW.NAME' | translate }}</th>
              <td mat-cell *matCellDef="let element; let i = index">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div fxLayoutAlign="end">
                  <button mat-icon-button color="accent" (click)="goToCompanyTeamMembersOverview(element)">
                    <mat-icon>manage_accounts</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator #paginator hidePageSize pageSize="10"></mat-paginator>
        </div>
        <div fxLayoutAlign="end">
          <button mat-raised-button color="accent" (click)="back()">
            {{ 'OVERVIEW.BACK_TO_COMPANY' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
