<section fxFlex fxLayout="column">
  <section fxLayout="column">
    <div fxLayout="row">
      <h2 class="accent">{{ 'RANKING.MEMBER_RANKING' | translate }}</h2>
      <button mat-icon-button fxHide (click)="openInfoLink()">
        <mat-icon>
          help_outline
        </mat-icon>
      </button>
    </div>
    <div *ngIf="!accountAggregates && !isLoading">
      <strong>{{ 'RANKING.NOT_FOUND' | translate }}</strong>
    </div>
    <div fxLayout="column" class="container">
      <div *ngIf="isLoading" fxFill fxLayoutAlign="center center">
        <mat-spinner color="accent"></mat-spinner>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        [ngClass.gt-xs]="'table-container'"
        [ngClass]="'small-table-container'"
        [fxShow]="!isLoading && accountAggregates"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon color="accent">
            filter_alt
          </mat-icon>
          <mat-form-field fxFlex color="accent">
            <input
              matInput
              (keyup)="applyFilter($event, accountDataSource)"
              class="form-control"
              placeholder="{{ 'RANKING.FILTER_ACCOUNT' | translate }}"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <table mat-table [dataSource]="accountDataSource">
            <ng-container matColumnDef="rank">
              <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.RANK' | translate }}</th>
              <td mat-cell *matCellDef="let element; let i = index">{{ element.rank }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.NAME' | translate }}</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="steps">
              <th mat-header-cell *matHeaderCellDef>
                <p fxLayoutAlign="end">{{ 'RANKING.STEPS_TOTAL' | translate }}</p>
              </th>
              <td mat-cell *matCellDef="let element">
                <p fxLayoutAlign="end">{{ element.totalSteps }}</p>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns; let entry"
              [ngClass]="{ highlight: entry.accountId == accountAggregate.accountId }"
            ></tr>
          </table>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-paginator #accountPaginator hidePageSize pageSize="5"></mat-paginator>
        </div>
      </div>
    </div>
  </section>
  <app-company-team-ranking
    *ngIf="companyId"
    [companyId]="companyId"
    [teamAggregate]="teamAggregate"
    [hideIcon]="true"
  ></app-company-team-ranking>
  <section fxLayout="column">
    <div fxLayout="row">
      <h2 class="accent">{{ 'RANKING.GLOBAL_TEAM_RANKING' | translate }}</h2>
    </div>
    <div *ngIf="!teamAggregates && !isLoading">
      <strong>{{ 'RANKING.NOT_FOUND' | translate }}</strong>
    </div>
    <div class="container" fxLayout="column">
      <div *ngIf="isLoading" fxFill fxLayoutAlign="center center">
        <mat-spinner color="accent"></mat-spinner>
      </div>
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        [ngClass.gt-xs]="'table-container'"
        [ngClass]="'small-table-container'"
        [fxShow]="!isLoading && teamAggregates"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon color="accent">
            filter_alt
          </mat-icon>
          <mat-form-field fxFlex color="accent">
            <input
              matInput
              (keyup)="applyFilter($event, teamDataSource)"
              class="form-control"
              placeholder="{{ 'RANKING.FILTER_TEAM' | translate }}"
            />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <table mat-table [dataSource]="teamDataSource">
            <ng-container matColumnDef="rank">
              <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.RANK' | translate }}</th>
              <td mat-cell *matCellDef="let element; let i = index">{{ element.rank }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.NAME' | translate }}</th>
              <td mat-cell *matCellDef="let element">
                <div fxLayout="row" fxLayoutGap="4px">
                  <div fxLayout="column" fxLayoutAlign="center" class="image-container-width">
                    <div class="image-container">
                      <img *ngIf="element.logo" [src]="element.logo" />
                    </div>
                  </div>
                  <div fxLayoutAlign="start center">{{ setName(element) }}</div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="steps">
              <th mat-header-cell *matHeaderCellDef>
                <p fxLayoutAlign="end">{{ 'RANKING.STEPS_AVG' | translate }}</p>
              </th>
              <td mat-cell class="column-width" *matCellDef="let element">
                <p fxLayoutAlign="end">{{ element.averageSteps }}</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                <div fxLayout="row">
                  <button mat-icon-button>
                    <fa-icon (click)="showPage()" class="icon" icon="trophy"></fa-icon>
                  </button>
                </div>
              </th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsTeam"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsTeam; let entry"
              [ngClass]="{ highlight: entry.teamAggregateId == teamAggregate.teamAggregateId }"
            ></tr>
          </table>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-paginator #teamPaginator hidePageSize pageSize="10" (page)="getLogos($event)"></mat-paginator>
        </div>
        <div fxLayoutAlign="center">
          <p class="italic">
            {{ 'RANKING.INFO_PART_1' | translate }}
            <fa-icon icon="trophy"></fa-icon>
            {{ 'RANKING.INFO_PART_2' | translate }}
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
