.width {
  width: 60%;
  min-width: 350px;
}

.highlight {
  background: #f7e6f1;
}

.icon {
  font-size: 15px;
  color: #ba2e8d;
}
.italic {
  font-style: italic;
  font-size: 12px;
}

div,
table,
mat-paginator {
  width: 100%;
}

.table-container {
  width: 65%;
}
.small-table-container {
  width: 100%;
}

.container {
  padding: 0;
  align-items: center;
}

.mat-column-actions {
  width: 20px !important;
  padding-right: 0 !important;
}

.image-container {
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.image-container-width {
  width: 40px;
  min-width: 40px;
}

img {
  width: 40px;
  height: 40px;
}

.column-width {
  width: 150px;
}
