<div class="devices-container" fxFill fxLayout="column">
  <div *ngIf="isLoading" fxFlex fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div fxLayout="row" *ngIf="!isLoading">
    <div class="pink-march-card" fxFlex.gt-sm="40" fxFlex="90" [formGroup]="formGroup">
      <app-info-title [title]="'NAVIGATION.DEVICES' | translate"></app-info-title>
      <p class="font-14" [innerHTML]="'DEVICES.TOP_MESSAGE' | translate"></p>
      <div fxLayoutAlign="start center" fxLayoutGap="20px">
        <img src="assets/images/fitbit-logo.png" width="200" class="responsive-img" />
        <mat-slide-toggle formControlName="fitbit" (change)="deviceToggled($event, 'fitbit')"></mat-slide-toggle>
        <div *ngIf="showFitbitError">{{ 'ACTIVITIES.TRACKER_ERROR' | translate }}</div>
      </div>
      <!--      <mat-divider></mat-divider>-->
      <!--      <div fxLayoutAlign="start center" fxLayoutGap="20px">-->
      <!--        <img src="assets/images/polar_logo.svg" width="200" class="responsive-img" />-->
      <!--        <mat-slide-toggle formControlName="polar" (change)="deviceToggled($event, 'polar')"></mat-slide-toggle>-->
      <!--        <div *ngIf="showPolarError">{{ 'ACTIVITIES.TRACKER_ERROR' | translate }}</div>-->
      <!--      </div>-->
      <mat-divider></mat-divider>
      <div fxLayoutAlign="start center" fxLayoutGap="20px">
        <img src="assets/images/logo-google-fit.png" width="200" class="responsive-img" />
        <mat-slide-toggle formControlName="googlefit" (change)="deviceToggled($event, 'googlefit')"></mat-slide-toggle>
        <div *ngIf="showGoogleFitError">{{ 'ACTIVITIES.TRACKER_ERROR' | translate }}</div>
      </div>
      <p class="font-14">
        {{ 'DEVICES.INFO' | translate }}
      </p>
    </div>
  </div>
</div>
