<!--
  ~     Copyright (C) 2020 PeopleWare NV
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<section fxLayout="column" *ngIf="isLoading" fxFill fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</section>
<section class="container" fxLayout="column" [fxShow]="!isLoading && accountAggregate">
  <div fxLayout="row">
    <div fxFlex.gt-sm="65" fxFlex="90" fxLayout="column" class="pink-march-card">
      <app-individual-ranking
        *ngIf="!isLoading && group.value === 'account'"
        [accountAggregate]="accountAggregate"
      ></app-individual-ranking>
      <app-team-ranking
        [companyId]="groupType === 'company' ? this.groupId : null"
        [teamAggregate]="teamAggregate"
        [accountAggregate]="accountAggregate"
        *ngIf="group.value === 'team'"
      ></app-team-ranking>
      <div fxLayout="column" fxLayoutGap="10px">
        <h2 fxLayoutAlign="start center" class="accent">{{ 'RANKING.OTHER_RANKINGS' | translate }}</h2>
        <mat-button-toggle-group
          #group="matButtonToggleGroup"
          fxLayoutAlign="space-evenly"
          fxLayout.xs="column"
          fxLayoutGap="10px"
        >
          <mat-button-toggle #button value="account" fxFlex>{{
            'NAVIGATION.INDIVIDUAL' | translate
          }}</mat-button-toggle>
          <mat-button-toggle *ngIf="teamAggregate" value="team" fxFlex>{{
            'NAVIGATION.TEAM' | translate
          }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</section>
