<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<section *ngIf="!formGroup || isSaving" fxFill fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</section>
<section class="company-profile-container" fxFlex fxLayout="column" *ngIf="formGroup && !isSaving">
  <div fxLayout="row">
    <div class="pink-march-card" fxFlex.gt-xs="40" fxFlex="90">
      <div fxLayout="column" fxLayoutGap="20px">
        <app-info-title [title]="'COMPANY.PROFILE' | translate"></app-info-title>
        <div fxLayoutGap="10px grid" fxLayout="row wrap">
          <div fxFlex.lt-md="100" fxFlex="50">
            <app-company-details [formGroup]="formGroup"></app-company-details>
          </div>
          <div fxFlex.lt-md="100" fxFlex="50" fxLayout="column">
            <app-company-contact [formGroup]="formGroup"></app-company-contact>
            <mat-form-field *ngIf="company.unit">
              <input matInput disabled [value]="company.unit" />
              <mat-label>{{ 'COMPANY.UNIT' | translate }}</mat-label>
            </mat-form-field>
          </div>
        </div>
        <div fxLayoutAlign="end">
          <button
            mat-raised-button
            color="accent"
            [disabled]="!formGroup.valid || isSaving || !formGroup.dirty"
            (click)="saveProfile()"
          >
            {{ 'REGISTER.COMPANY_PROFILE.SUBMIT' | translate }}
          </button>
        </div>
      </div>
      <app-join-link [link]="company.shortUrl"></app-join-link>
      <app-participants [slotsLink]="company.links.slots" (isBusy)="setIsLoadingSLots($event)"></app-participants>
      <br />
      <div fxLayoutAlign="space-between">
        <button mat-raised-button color="accent" (click)="buyAdditional()" [disabled]="isLoadingSlots">
          {{ 'BUTTON.BUY_ADDITIONAL' | translate }}
        </button>
        <button mat-raised-button color="accent" class="margin-top" (click)="goToSubgroupOverview()">
          {{ 'BUTTON.COMPANY_TEAM' | translate }}
        </button>
        <button mat-raised-button color="accent" class="margin-top" (click)="goToMembersOverview()">
          {{ 'BUTTON.OVERVIEW_MEMBERS' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
