<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<div class="about-container">
  <div class="pink-march-card" fxFlex.gt-sm="40" fxFlex="90" fxLayoutAlign="start center" fxLayout="column">
    <img src="assets/images/de-roze-mars-logo-240x60.png" class="responsive-img" />
    <br />
    <span
      >{{ 'ABOUT.API_STAGE' | translate }}: <strong>{{ config.apiStage }}</strong></span
    >
    <span
      >{{ 'ABOUT.IMMUTABLE_VERSION' | translate }}: <strong>{{ config.immutableBuild }}</strong></span
    >
    <span
      >{{ 'ABOUT.BOOKMARKABLE_VERSION' | translate }}: <strong>{{ config.bookmarkableBuild }}</strong></span
    >
    <span
      >{{ 'ABOUT.MODE' | translate }}: <strong>{{ configService.mode }}</strong></span
    >
  </div>
</div>
