<!--
  ~     Copyright (C) 2020 PeopleWare NV
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->
<div>
  <form [formGroup]="formGroup" fxLayout="column" fxLayoutGap="10px">
    <mat-form-field color="accent">
      <mat-label>{{ 'ACTIVITIES.DATE' | translate }}</mat-label>
      <input
        matInput
        [max]="maxDate"
        [matDatepicker]="datePicker"
        [matDatepickerFilter]="filter"
        formControlName="activityDate"
      />
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker [disabled]="disableDatePicker" [touchUi]="data?.isHandset"></mat-datepicker>
      <mat-error *ngIf="formGroup?.get('activityDate').invalid">
        {{ 'REGISTER.PERSONAL_PROFILE.ERROR_EMPTY_FIELD' | translate }}
      </mat-error>
    </mat-form-field>
    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field color="accent">
        <mat-label>{{ 'ACTIVITIES.DIALOG.STEPS' | translate }}</mat-label>
        <input matInput formControlName="steps" type="number" />
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>{{ 'ACTIVITIES.DISTANCE' | translate }}</mat-label>
        <input matInput formControlName="distance" type="number" />
      </mat-form-field>
    </div>
  </form>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-raised-button mat-dialog-close>{{ 'ACTIVITIES.DIALOG.CANCEL' | translate }}</button>
    <button
      mat-raised-button
      (click)="saveActivity()"
      color="accent"
      *ngIf="action !== 'delete'"
      [disabled]="!formGroup.valid || !formGroup.get('activityDate').value || !hasChanges"
    >
      {{ 'ACTIVITIES.DIALOG.SAVE' | translate }}
    </button>
    <button mat-raised-button (click)="saveActivity()" color="accent" *ngIf="action === 'delete'">
      {{ 'ACTIVITIES.DIALOG.DELETE' | translate }}
    </button>
  </div>
</div>
