<h2 class="mat-h2 accent">{{ 'REGISTER.COMPANY_PROFILE.COMPANY_INFO' | translate }}</h2>
<h3 class="mat-h3 accent">{{ 'COMMON.PUBLIC_DATA' | translate }}</h3>
<form [formGroup]="formGroup" *ngIf="formGroup">
  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <input
        matInput
        class="form-control"
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.COMPANY_NAME' | translate }}"
        name="name"
        formControlName="name"
      />
      <mat-error *ngIf="formGroup?.get('name').invalid">{{
        'REGISTER.COMPANY_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <h3 class="mat-h3 accent">{{ 'COMMON.PRIVATE_DATA' | translate }}</h3>
  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <input
        matInput
        class="form-control"
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.STREET_NAME' | translate }}"
        name="address"
        formControlName="address"
      />
      <mat-error *ngIf="formGroup?.get('address').invalid">{{
        'REGISTER.COMPANY_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field color="accent" fxFlex="30">
      <input
        matInput
        class="form-control"
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.POSTAL_CODE' | translate }}"
        formControlName="zip"
      />
      <mat-error *ngIf="formGroup.get('zip').hasError('pattern')">{{
        'REGISTER.COMPANY_PROFILE.ZIP_VALIDATION' | translate
      }}</mat-error>
      <mat-error *ngIf="formGroup.get('zip').hasError('required')">{{
        'REGISTER.COMPANY_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
    <mat-form-field color="accent" fxFlex="70">
      <input
        matInput
        class="form-control"
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.CITY' | translate }}"
        name="city"
        formControlName="city"
      />
      <mat-error *ngIf="formGroup.get('city').invalid">{{
        'REGISTER.COMPANY_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field color="accent" fxFlex>
      <input
        matInput
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.VAT_NUMBER' | translate }}"
        name="vat"
        formControlName="vat"
      />
      <mat-error *ngIf="formGroup.get('vat').hasError('pattern')">{{
        'REGISTER.COMPANY_PROFILE.VAT_VALIDATION' | translate
      }}</mat-error>
      <mat-error *ngIf="formGroup.get('vat').hasError('required')">{{
        'REGISTER.COMPANY_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column">
    <h3 class="mat-h3 accent">{{ 'REGISTER.COMPANY_PROFILE.BILLING_INFO' | translate }}</h3>
    <h4 class="mat-h4 dark-accent">{{ 'REGISTER.COMPANY_PROFILE.BILLING_MESSAGE' | translate }}</h4>
    <mat-form-field color="accent" class="margin-top" fxFlex>
      <input
        matInput
        placeholder="{{ 'REGISTER.COMPANY_PROFILE.REFERENCE' | translate }}"
        name="reference"
        formControlName="reference"
      />
    </mat-form-field>
  </div>
  <div *ngIf="!isRegistration">
    <app-upload-image [formGroup]="formGroup"></app-upload-image>
  </div>
</form>
