<div fxFlex fxLayout="row">
  <h2 class="accent">{{ title }}</h2>
  <button [fxHide]="true" mat-icon-button (click)="openInfoLink()">
    <mat-icon>
      help_outline
    </mat-icon>
  </button>
</div>
