<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<div class="register-background"></div>
<section class="payment-success">
  <div fxFlex.gt-sm="40" fxFlex="90" class="pink-march-card" fxLayout="column" fxLayoutGap="10px">
    <div *ngIf="!paymentSuccess">
      <div fxLayout="row" fxLayoutAlign="center center">
        <h3 class="mat-h3">
          {{ 'REGISTER.PAYMENT_SUCCESS.VERIFY_MESSAGE' | translate }}
        </h3>
      </div>
    </div>

    <div *ngIf="paymentSuccess">
      <!-- Initial Registration-->
      <div *ngIf="flowTYpe === 'registration'">
        <div *ngIf="displayTextType === 'Individual'" fxLayout="row" fxLayoutAlign="center center">
          <h2 class="accent">
            {{ 'REGISTER.PAYMENT_SUCCESS.SUCCESS_MESSAGE_INDIVIDUAL' | translate }}
          </h2>
        </div>
        <div *ngIf="displayTextType === 'Team'" fxLayout="row" fxLayoutAlign="center center">
          <h2 class="accent">
            {{ 'REGISTER.PAYMENT_SUCCESS.SUCCESS_MESSAGE_TEAM' | translate }}
          </h2>
        </div>
        <div *ngIf="displayTextType === 'Company'" fxLayout="row" fxLayoutAlign="center center">
          <h2 class="accent">
            {{ 'REGISTER.PAYMENT_SUCCESS.SUCCESS_MESSAGE_COMPANY' | translate }}
          </h2>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
          <h3 class="mat-h3">
            {{ 'REGISTER.PAYMENT_SUCCESS.THANK_YOU_MESSAGE' | translate }}
          </h3>
        </div>
      </div>

      <!-- Buy Additional slots-->
      <div *ngIf="flowTYpe === 'additional'">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h2 class="accent">{{ 'REGISTER.PAYMENT_SUCCESS.ADDITIONAL.SUCCESS_MESSAGE' | translate }}</h2>
        </div>
      </div>

      <div fxLayout="row" *ngIf="paymentSuccess.freeSlots === 0">
        <h3 class="mat-h3" [innerHTML]="'REGISTER.PAYMENT_SUCCESS.NEXT_STEPS_INDIVIDUAL' | translate"></h3>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="displayTextType === 'Team'">
        <h3 class="mat-h3" [innerHTML]="'REGISTER.PAYMENT_SUCCESS.NEXT_STEPS_TEAM' | translate"></h3>
      </div>
      <div *ngIf="displayTextType === 'Company'" fxLayout="row" fxLayoutAlign="center center">
        <h3 class="mat-h3" [innerHTML]="'REGISTER.PAYMENT_SUCCESS.NEXT_STEPS_COMPANY' | translate"></h3>
      </div>
      <div
        *ngIf="displayTextType === 'Company' && flowTYpe === 'registration'"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <h3 class="mat-h3" [innerHTML]="'REGISTER.PAYMENT_SUCCESS.NEXT_STEPS_COMPANY_WARNING' | translate"></h3>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="paymentSuccess.freeSlots > 0">
        <h3 fxFill class="mat-h3 joinLink">{{ paymentSuccess.joinLink }}</h3>
      </div>

      <div fxLayout="row">
        <h3 class="mat-h3">
          {{ 'REGISTER.PAYMENT_SUCCESS.EMAIL_INFO' | translate }}
        </h3>
      </div>

      <div fxLayout="row" *ngIf="paymentSuccess.freeSlots === 0">
        <h3 class="mat-h3" [innerHTML]="'REGISTER.PAYMENT_SUCCESS.PINKMARCH_GOAL' | translate"></h3>
      </div>
    </div>
  </div>
</section>
