<!--
  ~     Copyright (C) 2020 PeopleWare NV
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<section fxLayout="column" *ngIf="isLoading || isLoadingTeam" fxFill fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</section>
<section class="container" fxLayout="column" [fxShow]="!isLoading && !isLoadingTeam">
  <div fxLayout="row">
    <div fxFlex.gt-sm="55" fxFlex="90" fxLayout="column" class="pink-march-card">
      <app-individual-company-ranking
        *ngIf="group.value === 'company'"
        [companyAggregate]="companyAggregate"
      ></app-individual-company-ranking>

      <app-company-participants-ranking
        *ngIf="group.value === 'participants'"
        [companyId]="groupId"
      ></app-company-participants-ranking>

      <app-company-team-ranking
        *ngIf="group.value === 'team'"
        [companyId]="groupId"
        [teamAggregate]="teamAggregate"
      ></app-company-team-ranking>

      <app-global-company-ranking
        *ngIf="group.value === 'companies'"
        [companyId]="groupId"
        [companyAggregate]="companyAggregate"
      ></app-global-company-ranking>

      <app-company-unit-ranking
        *ngIf="group.value === 'unit'"
        [companyId]="groupId"
        [companyAggregate]="companyAggregate"
      ></app-company-unit-ranking>
      <div fxLayout="column" fxLayoutGap="20px">
        <h2 fxLayoutAlign="start center" class="accent">{{ 'RANKING.OTHER_RANKINGS' | translate }}</h2>
        <mat-button-toggle-group
          #group="matButtonToggleGroup"
          fxLayoutAlign="space-evenly"
          fxLayout.xs="column"
          fxLayoutGap="10px"
        >
          <mat-button-toggle #button value="company" fxFlex>{{ 'NAVIGATION.SUMMARY' | translate }}</mat-button-toggle>
          <mat-button-toggle value="participants" fxFlex>{{ 'RANKING.PARTICIPANTS' | translate }}</mat-button-toggle>
          <mat-button-toggle *ngIf="teamAggregate" value="team" fxFlex>{{
            'NAVIGATION.TEAMS' | translate
          }}</mat-button-toggle>
          <mat-button-toggle value="companies" fxFlex>{{ 'NAVIGATION.COMPANIES' | translate }}</mat-button-toggle>
          <mat-button-toggle *ngIf="unit" value="unit" fxFlex>{{ 'NAVIGATION.UNIT' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</section>
