<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<section fxFlex fxLayout="column">
  <app-info-title [title]="'RANKING.SUMMARY' | translate"></app-info-title>
  <div *ngIf="accountAggregate" fxLayout="column">
    <p class="italic">{{ 'RANKING.INDIVIDUAL_INFO' | translate }}</p>
    <mat-grid-list cols="2" [rowHeight]="'150px'">
      <mat-grid-tile fxFlex>
        <div fxLayout="column">
          <div fxLayoutAlign="center">
            <h3>{{ 'RANKING.STEPS' | translate }}</h3>
          </div>
          <div class="icon" fxLayoutAlign="center">
            <img src="assets/images/PPW Feet.png" width="65" height="65" />
          </div>
          <div fxLayoutAlign="center center">{{ accountAggregate.totalSteps }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile fxFlex>
        <div fxLayout="column">
          <div fxLayoutAlign="center">
            <h3>{{ 'RANKING.DISTANCE' | translate }}</h3>
          </div>
          <div class="icon align">
            <mat-icon fxFill>
              directions_walk
            </mat-icon>
          </div>
          <div fxLayoutAlign="center center">{{ totalDistance }}km</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile fxFlex>
        <div fxFlex fxLayout="column">
          <div fxLayoutAlign="center">
            <h3>{{ 'RANKING.LEVEL' | translate }} {{ currentDisplayLevel }}</h3>
          </div>
          <div fxLayoutAlign="center">
            <div class="icon align">
              <fa-icon icon="medal"></fa-icon>
            </div>
          </div>
          <div fxLayoutAlign="center center" ngClass.lt-xl="small">
            {{ accountAggregate.stepsToNextLevel }} {{ 'RANKING.STEPS_UNTIL' | translate }}
            {{ nextDisplayLevel }}
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile fxFlex>
        <div fxLayout="column">
          <div fxLayoutAlign="center">
            <h3>{{ 'RANKING.RANKING' | translate }}</h3>
          </div>
          <div fxLayoutAlign="center">
            <div class="icon align">
              <fa-icon icon="trophy"></fa-icon>
            </div>
          </div>
          <div fxLayoutAlign="center center" ngClass.xs="small" ngClass.lt-lg="font-14">
            {{ accountAggregate.rank }} {{ 'RANKING.PLACEMENT' | translate }} {{ accountAggregate.totalParticipants }}
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div fxLayout="column" fxLayoutGap="10px">
      <h2 fxLayout="row" fxLayoutAlign="start center" class="accent">{{ 'RANKING.TITLE' | translate }}</h2>
      <div fxFill fxLayout="column" fxLayoutAlign="center center" *ngIf="isBusy">
        <mat-spinner color="accent"></mat-spinner>
      </div>
      <div fxFlex fxLayoutAlign="center center" *ngIf="!barChartData && !isBusy">
        <strong>{{ 'ACTIVITIES.NOT_FOUND' | translate }}</strong>
      </div>
      <div fxLayout="column" class="chart-container" fxLayoutAlign="center center" *ngIf="barChartData && !isBusy">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</section>
