.icon {
  margin-top: -15px;
  width: 74px;
  height: 74px;
  .mat-icon {
    font-size: 65px;
  }
  .ng-fa-icon {
    font-size: 65px;
  }
}

h2 {
  margin-bottom: 0;
}

.align {
  text-align: center;
}

.margin-top {
  margin-top: -15px;
}

.small {
  font-size: 12px;
  height: 19px;
}

.font-14 {
  font-size: 14px;
  height: 19px;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 100%;
  width: 99%;
}

.italic {
  font-style: italic;
  font-size: 12px;
}
