<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<section fxLayout="column" *ngIf="!company || !groupProfile || isSaving" fxFill fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</section>
<section *ngIf="company && groupProfile && !isSaving" class="company-profile-form" fxLayout="column" fxFlex>
  <div fxLayout="row">
    <form fxFlex.gt-sm="40" fxFlex="90" class="pink-march-card" fxLayout="column" fxLayoutGap="10px">
      <h2 fxLayout="row" class="accent">{{ 'TITLE' | translate }}</h2>

      <app-company-details [formGroup]="formGroup"></app-company-details>

      <app-company-contact [formGroup]="formGroup"></app-company-contact>

      <div fxLayout="row">
        <mat-form-field color="accent" fxFlex>
          <mat-select name="knownFromType" [formControl]="formGroup.get('knownFromType')">
            <mat-option *ngFor="let type of knownFromTypes; trackBy: trackByFn" [value]="type">
              {{ getEnumTranslationKey(type) | translate }}
            </mat-option>
          </mat-select>
          <mat-label>{{ 'REGISTER.PERSONAL_PROFILE.KNOWN_FROM' | translate }}</mat-label>
        </mat-form-field>
      </div>

      <div fxLayout="row" *ngIf="formGroup?.get('otherText')">
        <mat-form-field color="accent" fxFlex>
          <input
            matInput
            [placeholder]="'REGISTER.PERSONAL_PROFILE.OTHER' | translate"
            name="otherText"
            [formControl]="formGroup.get('otherText')"
          />
          <mat-error *ngIf="formGroup?.get('otherText').invalid">{{
            'REGISTER.PERSONAL_PROFILE.ERROR_EMPTY_FIELD' | translate
          }}</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row">
        <mat-checkbox fxFlex name="agree" color="accent" [formControl]="formGroup?.get('disclaimer')">
          <p class="accent" [innerHTML]="'REGISTER.COMPANY_PROFILE.DISCLAIMER' | translate"></p>
        </mat-checkbox>
      </div>

      <div fxLayout="row">
        <mat-checkbox fxFlex color="accent" [formControl]="formGroup?.get('newsletter')">
          <p class="accent">{{ 'REGISTER.PERSONAL_PROFILE.NEWSLETTER' | translate }}</p>
        </mat-checkbox>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <button
          mat-raised-button
          color="accent"
          [disabled]="!formGroup.valid || isSaving"
          (click)="onSubmitFormClick()"
        >
          {{ 'REGISTER.PERSONAL_PROFILE.SUBMIT' | translate }}
        </button>
      </div>
    </form>
  </div>
</section>
