<mat-sidenav-container class="sidenav-container" fxFill>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [opened]="
      (isHandset$ | async) === false &&
      (isLoggedIn$ | async) &&
      ((isRegistered$ | async) || (paymentCompleted$ | async) || (isAdministrator$ | async))
    "
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="'/accountProfile/' + (accountId$ | async)"
        routerLinkActive="active-link"
        *ngIf="loadedProfile$ | async"
        >{{ 'NAVIGATION.ACCOUNT_PROFILE' | translate }}</a
      >
      <a
        mat-list-item
        routerLink="/dashboard/devices"
        routerLinkActive="active-link"
        *ngIf="
          ((isRegistered$ | async) || (paymentCompleted$ | async)) && (groupId$ | async) && (loadedProfile$ | async)
        "
      >
        {{ 'NAVIGATION.DEVICES' | translate }}
      </a>
      <a
        mat-list-item
        [routerLink]="'/dashboard/activities'"
        routerLinkActive="active-link"
        *ngIf="((isRegistered$ | async) || (paymentCompleted$ | async)) && (loadedProfile$ | async)"
        >{{ 'ACTIVITIES.PROFILE' | translate }}
      </a>
      <a
        mat-list-item
        [routerLink]="'/dashboard/ranking/' + (groupType$ | async).toLowerCase() + '/' + (groupId$ | async)"
        routerLinkActive="active-link"
        *ngIf="(isRegistered$ | async) || ((groupType$ | async) === 'Team' && (paymentCompleted$ | async))"
      >
        {{ 'NAVIGATION.MY_RANKING' | translate }}
      </a>
      <mat-divider *ngIf="loadedProfile$ | async"></mat-divider>
      <a
        mat-list-item
        [routerLink]="'/dashboard/team/' + (groupId$ | async)"
        routerLinkActive="active-link"
        *ngIf="(groupType$ | async) === 'Team' && (isAdministrator$ | async)"
      >
        {{ 'NAVIGATION.TEAM_PROFILE' | translate }}
      </a>
      <a
        mat-list-item
        [routerLink]="'/dashboard/company/' + (groupId$ | async) + '/company-team/' + ((subgroupId$ | async) || '')"
        routerLinkActive="active-link"
        *ngIf="(groupType$ | async) === 'Company' && (isRegistered$ | async)"
      >
        {{ 'NAVIGATION.TEAM_PROFILE' | translate }}
      </a>
      <a
        mat-list-item
        [routerLink]="'/dashboard/company/rankings/' + (groupId$ | async)"
        routerLinkActive="active-link"
        *ngIf="(groupType$ | async) === 'Company' && (groupId$ | async)"
        >{{ 'NAVIGATION.COMPANY_RANKING' | translate }}</a
      >
      <a
        mat-list-item
        [routerLink]="'/dashboard/company/' + (groupId$ | async)"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="(groupType$ | async) === 'Company' && (isAdministrator$ | async)"
        >{{ 'NAVIGATION.COMPANY_PROFILE' | translate }}</a
      >
      <mat-divider
        *ngIf="
          (isAdministrator$ | async) ||
          ((isRegistered$ | async) === false && (isAdministrator$ | async) === false) ||
          ((groupType$ | async) === 'Company' && (isAdministrator$ | async) === false)
        "
      ></mat-divider>
      <a mat-list-item routerLink="/preferences" routerLinkActive="active-link">{{
        'NAVIGATION.PREFERENCES' | translate
      }}</a>
      <a mat-list-item href="https://www.derozemars.be/faq-2/" target="_blank">FAQ</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active-link">{{ 'NAVIGATION.ABOUT' | translate }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="start center">
        <button
          mat-icon-button
          (click)="drawer.open()"
          *ngIf="
            ((isRegistered$ | async) || (paymentCompleted$ | async) || (isAdministrator$ | async)) && !drawer.opened
          "
        >
          <mat-icon>menu</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="drawer.close()"
          *ngIf="
            ((isRegistered$ | async) || (paymentCompleted$ | async) || (isAdministrator$ | async)) && drawer.opened
          "
        >
          <mat-icon>close</mat-icon>
        </button>
        <span>{{ 'TITLE' | translate }}</span>
      </div>
      <app-statistics [fxHide.xs]="true"></app-statistics>
      <div>
        <button mat-button (click)="login()" *ngIf="(isLoggedIn$ | async) === false">
          <mat-icon>person</mat-icon>
          <span> {{ 'LOGIN' | translate }}</span>
        </button>
        <button mat-button (click)="logout()" *ngIf="isLoggedIn$ | async">
          <mat-icon>exit_to_app</mat-icon>
          <span> {{ 'LOGOUT' | translate }}</span>
        </button>
      </div>
    </mat-toolbar>
    <div *ngIf="(isLoggedIn$ | async) === false" class="container">
      <div fxFlex.gt-sm="40" fxFlex="90" fxLayout="column" class="pink-march-card">
        <p>{{ 'REGISTER.MESSAGE.REGISTERED' | translate }}</p>
        <mat-button-toggle-group fxLayout="column" fxLayoutGap="10px">
          <mat-button-toggle fxFlex (click)="login()">{{ 'LOGIN' | translate }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div fxFlex.gt-sm="40" fxFlex="90" fxLayout="column" class="pink-march-card">
        <p>{{ 'REGISTER.MESSAGE.NOT-REGISTERED' | translate }}</p>
        <mat-button-toggle-group fxLayout="column" fxLayoutGap="10px">
          <mat-button-toggle fxFlex (click)="registerIndividual()">{{
            'REGISTER.BUTTON.INDIVIDUAL' | translate
          }}</mat-button-toggle>
          <mat-button-toggle fxFlex (click)="registerIndividual()">{{
            'REGISTER.BUTTON.TEAM' | translate
          }}</mat-button-toggle>
          <mat-button-toggle fxFlex (click)="registerCompany()">{{
            'REGISTER.BUTTON.COMPANY' | translate
          }}</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div fxFlex class="scroll-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
