<!--
  ~     Copyright (C) 2020 PeopleWare NV
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->
<section fxFlex fxLayout="column" fxLayoutGap="20px">
  <app-info-title [title]="'RANKING.PARTICIPANT_RANKING' | translate"></app-info-title>
  <div *ngIf="!isLoading && !accountAggregates">
    <strong>{{ 'RANKING.NOT_FOUND' | translate }}</strong>
  </div>
  <div class="container" fxLayout="column">
    <div fxFill fxLayoutAlign="center center" *ngIf="isLoading">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <div
      fxLayout="column"
      [ngClass.gt-xs]="'table-container'"
      [ngClass]="'small-table-container'"
      fxLayoutAlign="center center"
      [fxShow]="!isLoading && accountAggregates"
    >
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon color="accent">
          filter_alt
        </mat-icon>
        <mat-form-field fxFlex color="accent">
          <input
            matInput
            (keyup)="applyFilter($event)"
            class="form-control"
            placeholder="{{ 'RANKING.FILTER_ACCOUNT' | translate }}"
          />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <table mat-table [dataSource]="accountDataSource">
          <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.RANK' | translate }}</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ element.rank }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="steps">
            <th mat-header-cell *matHeaderCellDef>
              <p fxLayoutAlign="end">{{ 'RANKING.STEPS_TOTAL' | translate }}</p>
            </th>
            <td mat-cell *matCellDef="let element">
              <p fxLayoutAlign="end">{{ element.totalSteps }}</p>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns; let entry"
            [ngClass]="{ highlight: entry.accountId == accountId }"
          ></tr>
        </table>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <mat-paginator #paginator hidePageSize pageSize="10"></mat-paginator>
      </div>
    </div>
  </div>
</section>
