.highlight {
  background: #f7e6f1;
}

div,
table,
mat-paginator {
  width: 100%;
}

.table-container {
  width: 70%;
}
.small-table-container {
  width: 100%;
}

.container {
  padding: 0;
  align-items: center;
}
