<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<section fxFlex fxLayout="column">
  <app-info-title [title]="'RANKING.COMPANY_SUMMARY' | translate"></app-info-title>
  <div *ngIf="!companyAggregate" class="container">
    <strong>{{ 'RANKING.NOT_FOUND' | translate }}</strong>
  </div>
  <div *ngIf="companyAggregate" fxLayout="column">
    <p class="italic">{{ 'RANKING.INDIVIDUAL_INFO' | translate }}</p>
    <mat-grid-list cols="3" [rowHeight]="'150px'">
      <mat-grid-tile fxFlex>
        <div fxLayout="column">
          <div fxLayoutAlign="center">
            <h3>{{ 'RANKING.STEPS_TOTAL' | translate }}</h3>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <div class="icon" fxLayoutAlign="center">
              <img src="assets/images/PPW Feet.png" width="65" height="65" />
            </div>
          </div>
          <div fxLayoutAlign="center center">{{ companyAggregate.totalSteps }}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile fxFlex>
        <div fxLayout="column">
          <div fxLayoutAlign="center">
            <h3>{{ 'RANKING.DISTANCE' | translate }}</h3>
          </div>
          <div class="icon align">
            <mat-icon fxFill>
              directions_walk
            </mat-icon>
          </div>
          <div fxLayoutAlign="center center">{{ totalDistance }}km</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile fxFlex>
        <div fxLayout="column">
          <div fxLayoutAlign="center">
            <h3>{{ 'RANKING.RANKING' | translate }}</h3>
          </div>
          <div fxLayoutAlign="center">
            <div class="icon align">
              <fa-icon icon="trophy"></fa-icon>
            </div>
          </div>
          <div fxLayoutAlign="center center" ngClass.xs="small" ngClass.lt-lg="font-14">
            {{ companyAggregate.rank }} {{ 'RANKING.PLACEMENT' | translate }} {{ companyAggregate.totalCompanies }}
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
