.icon {
  margin-top: -15px;
  width: 74px;
  height: 74px;
  .mat-icon {
    font-size: 65px;
  }
  .ng-fa-icon {
    font-size: 65px;
  }
}

.margin-top {
  margin-top: -15px;
}

.align {
  text-align: center;
}

.italic {
  font-style: italic;
  font-size: 12px;
}
