<form fxFlex fxLayout="column" fxLayoutGap="10px" [formGroup]="formGroup">
  <div fxLayout="row">
    <mat-form-field fxFlex color="accent">
      <input
        matInput
        class="form-control"
        [placeholder]="'REGISTER.PERSONAL_PROFILE.FIRST_NAME' | translate"
        name="firstName"
        formControlName="firstName"
      />
      <mat-error *ngIf="formGroup?.get('firstName').invalid">{{
        'REGISTER.PERSONAL_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <input
        matInput
        [placeholder]="'REGISTER.PERSONAL_PROFILE.LAST_NAME' | translate"
        name="lastName"
        formControlName="lastName"
      />
      <mat-error *ngIf="formGroup?.get('lastName').invalid">{{
        'REGISTER.PERSONAL_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <mat-select name="gender" formControlName="gender">
        <mat-option value="F">{{ 'REGISTER.PERSONAL_PROFILE.FEMALE' | translate }}</mat-option>
        <mat-option value="M">{{ 'REGISTER.PERSONAL_PROFILE.MALE' | translate }}</mat-option>
        <mat-option value="X">{{ 'REGISTER.PERSONAL_PROFILE.X' | translate }}</mat-option>
      </mat-select>
      <mat-label>{{ 'REGISTER.PERSONAL_PROFILE.GENDER' | translate }}</mat-label>
      <mat-error *ngIf="formGroup?.get('gender').invalid">{{
        'REGISTER.PERSONAL_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <input
        matInput
        [placeholder]="'REGISTER.PERSONAL_PROFILE.DATE_OF_BIRTH' | translate"
        [matDatepicker]="picker"
        name="dateOfBirth"
        formControlName="dateOfBirth"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="formGroup?.get('dateOfBirth').invalid">
        {{ 'REGISTER.PERSONAL_PROFILE.ERROR_EMPTY_FIELD' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <mat-form-field color="accent" fxFlex>
      <input
        matInput
        [placeholder]="'REGISTER.PERSONAL_PROFILE.POSTAL_CODE' | translate"
        name="zip"
        formControlName="zip"
      />
      <mat-error *ngIf="formGroup?.get('zip')?.hasError('pattern')">{{
        'REGISTER.COMPANY_PROFILE.ZIP_VALIDATION' | translate
      }}</mat-error>
      <mat-error *ngIf="formGroup?.get('zip')?.hasError('required')">{{
        'REGISTER.COMPANY_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>
</form>
