<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<section class="container" fxFill fxLayout="column">
  <div *ngIf="isLoading" fxFlex fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex.gt-sm="40" fxFlex="90" class="pink-march-card" fxLayoutGap="20px" *ngIf="!isLoading">
      <app-info-title [title]="'ACCOUNT_PROFILE.TITLE' | translate"></app-info-title>
      <app-profile-form [formGroup]="formGroup"></app-profile-form>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="accent" [disabled]="!formGroup?.valid || isLoading" (click)="saveProfile()">
          {{ 'REGISTER.PERSONAL_PROFILE.SUBMIT' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
