<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<div class="container" fxFill fxLayout="column">
  <div *ngIf="isLoading" fxFlex fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <div fxLayout="row" [fxHide]="isLoading">
    <div fxFlex.gt-sm="40" fxFlex="90" fxLayout="column" class="pink-march-card">
      <app-info-title [title]="'ACTIVITIES.PROFILE' | translate"></app-info-title>
      <p class="font-14" [innerHTML]="'ACTIVITIES.INFO' | translate"></p>
      <div *ngIf="!hasActivities" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <strong>{{ 'ACTIVITIES.NOT_FOUND' | translate }}</strong>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="accent" (click)="activityAction('add')">
            {{ 'ACTIVITIES.ADD' | translate }}
          </button>
        </div>
      </div>
      <div fxFlex>
        <table mat-table class="table" [dataSource]="dataSource" *ngIf="!isLoading && hasActivities">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>{{ 'ACTIVITIES.DATE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.activityDate | date: 'dd/MM/yyyy' }}</td>
          </ng-container>
          <ng-container matColumnDef="steps">
            <th mat-header-cell *matHeaderCellDef>{{ 'ACTIVITIES.STEPS' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.numberOfSteps }}</td>
          </ng-container>
          <ng-container matColumnDef="distance">
            <th mat-header-cell *matHeaderCellDef>{{ 'ACTIVITIES.DISTANCE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ calcDistance(element) }}km</td>
          </ng-container>
          <ng-container matColumnDef="device">
            <th mat-header-cell *matHeaderCellDef>{{ 'ACTIVITIES.DEVICE' | translate }}</th>
            <td mat-cell *matCellDef="let element">{{ element.trackerType }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <div fxLayoutAlign="end">
                <button mat-icon-button color="accent" (click)="activityAction('add')">
                  <mat-icon>
                    add
                  </mat-icon>
                </button>
              </div>
            </th>
            <td mat-cell *matCellDef="let element">
              <div fxLayoutAlign="end" *ngIf="element.trackerType === 'manual'">
                <button mat-icon-button color="accent" (click)="activityAction('edit', element)">
                  <mat-icon>
                    edit
                  </mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="activityAction('delete', element)">
                  <mat-icon>
                    delete
                  </mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [fxHide]="!hasActivities" hidePageSize pageSize="7" [length]="activities.length"></mat-paginator>
      </div>
    </div>
  </div>
</div>
