.container {
  padding: 20px 0;
}

.table-row {
  height: 30px !important;
}

.margin-bottom {
  margin-bottom: 0;
}

.font-14 {
  font-size: 14px;
}

.mat-column-steps {
  text-align: right;
}

.mat-column-distance {
  text-align: right;
}

.mat-column-device {
  text-align: left;
  padding-left: 15px !important;
}
