<form fxLayout="column" fxLayoutGap="10px" [formGroup]="formGroup">
  <div fxLayout="row">
    <mat-form-field fxFlex color="accent">
      <input
        matInput
        class="form-control"
        [placeholder]="'REGISTER.PERSONAL_PROFILE.TEAM_NAME' | translate"
        name="teamName"
        formControlName="teamName"
      />
      <mat-error *ngIf="formGroup?.get('teamName').invalid">{{
        'REGISTER.PERSONAL_PROFILE.ERROR_EMPTY_FIELD' | translate
      }}</mat-error>
    </mat-form-field>
  </div>
  <app-upload-image [formGroup]="formGroup"></app-upload-image>
</form>
