<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center">
    <h2 class="accent">{{ 'TEAM.JOIN_LINK' | translate }}</h2>
    <button mat-icon-button matTooltip="{{ 'TOOLTIP.COPY_LINK' | translate }}" (click)="copyJoinLink()">
      <mat-icon>file_copy</mat-icon>
    </button>
  </div>
  <span>{{ link }}</span>
  <p class="font-14">{{ 'JOIN_LINK.INFO' | translate }}</p>
</div>
