//     Copyright (C) 2020 PeopleWare NV
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as published by
//     the Free Software Foundation, either version 3 of the License, or
//     (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <https://www.gnu.org/licenses/>.

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

@font-face {
  font-family: 'Istok Web';
  src: url(./assets/fonts/istokweb/IstokWeb-Regular.ttf) format('truetype');
  font-weight: 300;
}

$custom-typography: mat-typography-config(
  $font-family: 'Istok Web, Roboto'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

$md-pink-march-dark: (
  50: #f7e6f1,
  100: #eac0dd,
  200: #dd97c6,
  300: #cf6daf,
  400: #c44d9e,
  500: #ba2e8d,
  600: #b32985,
  700: #ab237a,
  800: #a31d70,
  900: #94125d,
  A100: #ffc6e5,
  A200: #ff93ce,
  A400: #ff60b6,
  A700: #ff47ab,
  contrast: (
    50: #94125d,
    100: #94125d,
    200: #94125d,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #94125d,
    A200: #94125d,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-pink-march-light: (
  50: #fefafa,
  100: #fcf3f2,
  200: #faebea,
  300: #f7e3e1,
  400: #f6ddda,
  500: #f4d7d4,
  600: #f3d3cf,
  700: #f1cdc9,
  800: #efc7c3,
  900: #ecbeb9,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #94125d,
    100: #94125d,
    200: #94125d,
    300: #94125d,
    400: #94125d,
    500: #94125d,
    600: #94125d,
    700: #94125d,
    800: #94125d,
    900: #94125d,
    A100: #94125d,
    A200: #94125d,
    A400: #94125d,
    A700: #94125d
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pink-march-ui-immutable-primary: mat-palette($md-pink-march-light);
$pink-march-ui-immutable-accent: mat-palette($md-pink-march-dark);

// The warn palette is optional (defaults to red).
$pink-march-ui-immutable-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$pink-march-ui-immutable-theme: mat-light-theme(
  $pink-march-ui-immutable-primary,
  $pink-march-ui-immutable-accent,
  $pink-march-ui-immutable-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($pink-march-ui-immutable-theme);
