//     Copyright (C) 2020 PeopleWare NV
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as published by
//     the Free Software Foundation, either version 3 of the License, or
//     (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <https://www.gnu.org/licenses/>.

/* You can add global styles to this file, and also import other style files */

@import 'custom-theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.accent {
  color: mat-color($md-pink-march-dark, 500);
}

.dark-accent {
  color: mat-color($md-pink-march-dark, 700);
}

.pink-march-card {
  opacity: 0.9;
  background-color: mat-color($md-pink-march-light, 500);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  border-radius: 20px;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 20px 0;
}

a.active-link {
  background-color: mat-color($pink-march-ui-immutable-primary, 200) !important;
}

.table {
  max-height: 100%;
  min-width: 100%;
}

.font-12 {
  font-size: 12px;
}

.font {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
