<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<div class="register-background"></div>
<section class="personal-profile-exists">
  <div fxFlex.gt-sm="40" fxFlex="90" class="pink-march-card" fxLayout="column" fxLayoutGap="10px">
    <h2 fxLayout="row" fxLayoutAlign="center center" class="accent">{{ 'TITLE' | translate }}</h2>

    <div fxLayout="row" fxLayoutAlign="center center">
      <h3 class="mat-h3">
        {{ 'REGISTER.PERSONAL_PROFILE_EXISTS.MESSAGE' | translate }}
      </h3>
    </div>
  </div>
</section>
