.highlight {
  background: #f7e6f1;
}

.icon {
  font-size: 15px;
  color: #ba2e8d;
}

div,
table,
mat-paginator {
  width: 100%;
}

.table-container {
  width: 65%;
}
.small-table-container {
  width: 100%;
}

.container {
  padding: 0;
  align-items: center;
}

.image-container {
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.image-container-width {
  width: 40px;
  min-width: 40px;
}

img {
  width: 40px;
  height: 40px;
}
