<!--
  ~     Copyright (C) 2020 PeopleWare NV
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->
<section fxFlex fxLayout="column">
  <div fxLayout="row">
    <h2 class="accent">{{ 'RANKING.COMPANY_TEAM_RANKING' | translate }}</h2>
    <button mat-icon-button [fxHide]="true" (click)="openInfoLink()">
      <mat-icon>
        help_outline
      </mat-icon>
    </button>
  </div>
  <div *ngIf="!isLoading && !teamAggregates">
    <strong>{{ 'RANKING.NOT_FOUND' | translate }}</strong>
  </div>
  <div class="container" fxLayout="column">
    <div fxFill fxLayoutAlign="center center" *ngIf="isLoading">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <div
      fxLayout="column"
      [ngClass.gt-xs]="'table-container'"
      [ngClass]="'small-table-container'"
      fxLayoutAlign="center center"
      [fxShow]="!isLoading && teamAggregates"
    >
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon color="accent">
          filter_alt
        </mat-icon>
        <mat-form-field fxFlex color="accent">
          <input
            matInput
            (keyup)="applyFilter($event)"
            class="form-control"
            placeholder="{{ 'RANKING.FILTER_TEAM' | translate }}"
          />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <table mat-table [dataSource]="teamDataSource">
          <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.RANK' | translate }}</th>
            <td mat-cell *matCellDef="let element; let i = index">{{ element.rank }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>{{ 'RANKING.NAME' | translate }}</th>
            <td mat-cell *matCellDef="let element">
              <div fxLayout="row" fxLayoutGap="4px">
                <div fxLayout="column" fxLayoutAlign="center" class="image-container-width">
                  <div class="image-container">
                    <img *ngIf="element.logo" [src]="element.logo" />
                  </div>
                </div>
                <div fxLayoutAlign="start center">{{ element.name }}</div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="steps">
            <th mat-header-cell *matHeaderCellDef>
              <p fxLayoutAlign="end">{{ 'RANKING.STEPS_AVG' | translate }}</p>
            </th>
            <td mat-cell *matCellDef="let element">
              <p fxLayoutAlign="end">{{ element.averageSteps }}</p>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns; let entry"
            [ngClass]="{ highlight: entry.teamAggregateId == teamAggregate.teamAggregateId }"
          ></tr>
        </table>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <mat-paginator #teamPaginator hidePageSize pageSize="5" (page)="getLogos($event)"></mat-paginator>
      </div>
    </div>
  </div>
</section>
