<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
  <h2 class="accent">{{ 'COMMON.PARTICIPANTS.TITLE' | translate }}</h2>
  <mat-spinner *ngIf="isLoading" color="accent" diameter="20"></mat-spinner>
</div>
<table class="slots-table" *ngIf="slots">
  <tr fxLayoutGap="10px">
    <td>{{ 'COMMON.PARTICIPANTS.PAID' | translate }}</td>
    <td>
      <strong>{{ slots.totalSlots }}</strong>
    </td>
  </tr>
  <tr>
    <td>{{ 'COMMON.PARTICIPANTS.REGISTERED' | translate }}</td>
    <td>
      <strong>{{ slots.takenSlots }}</strong>
    </td>
  </tr>
  <tr>
    <td>{{ 'COMMON.PARTICIPANTS.AVAILABLE' | translate }}</td>
    <td>
      <strong>{{ slots.availableSlots }}</strong>
    </td>
  </tr>
</table>
