<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<section *ngIf="!formGroup || isSaving" fxFill fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</section>
<section class="manage-team-container" fxFlex fxLayout="column" *ngIf="formGroup && !isSaving">
  <div fxLayout="row">
    <div class="pink-march-card" fxFlex.gt-sm="40" fxFlex="90">
      <div fxLayout="column" fxLayoutGap="20px">
        <app-info-title [title]="'TEAM.PROFILE' | translate"></app-info-title>
        <app-team-form [formGroup]="formGroup"></app-team-form>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button
          mat-raised-button
          color="accent"
          [disabled]="!formGroup.valid || isSaving || !formGroup.dirty"
          (click)="saveTeam()"
        >
          {{ 'REGISTER.PERSONAL_PROFILE.SUBMIT' | translate }}
        </button>
      </div>
      <app-join-link [link]="team.shortUrl"></app-join-link>
      <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="100px" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="10px">
          <app-participants [slotsLink]="team.links.slots" (isBusy)="setIsLoadingSLots($event)"></app-participants>
        </div>
        <div *ngIf="!isLoadingSlots" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="end start">
          <strong class="padding-top">{{ 'SUBGROUP.MEMBERS' | translate }}:</strong>
          <p class="margin-top">{{ memberList }}</p>
        </div>
      </div>
      <br />
      <div fxLayoutAlign="space-between">
        <button
          mat-raised-button
          color="accent"
          class="margin-top"
          (click)="buyAdditional()"
          [disabled]="isLoadingSlots"
        >
          {{ 'BUTTON.BUY_ADDITIONAL' | translate }}
        </button>
        <button mat-raised-button color="accent" class="margin-top" (click)="goToMembersOverview()">
          {{ 'BUTTON.OVERVIEW_MEMBERS' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
