<div class="background-color" fxLayoutAlign="start center" fxLayoutGap="10px">
  <div fxLayout="row">
    <img src="assets/images/icoon_deelnemers.jpg" width="50" height="50" alt="" />
    <div fxLayout="column" fxLayoutAlign="center start">
      <div *ngIf="statistics" class="small-text">{{ statistics.totalParticipants }}</div>
      <mat-spinner *ngIf="!statistics" diameter="15"></mat-spinner>
      <div class="small-text">{{ 'COMMON.STATISTICS.PARTICIPANTS' | translate }}</div>
    </div>
  </div>
  <div fxLayout="row">
    <div fxLayoutAlign="center center">
      <img src="assets/images/icoon_wereld.jpg" width="50" height="50" alt="" />
    </div>
    <div fxLayout="column" fxLayoutAlign="center start">
      <div *ngIf="statistics" class="small-text">{{ statistics.timesRoundTheWorld }}</div>
      <mat-spinner *ngIf="!statistics" diameter="15"></mat-spinner>
      <div class="small-text">{{ 'COMMON.STATISTICS.WORLD' | translate }}</div>
    </div>
  </div>
  <div fxLayout="row" class="div-margin">
    <img src="assets/images/icoon_dagen.jpg" width="50" height="50" alt="" />
    <div fxLayout="column" fxLayoutAlign="center start">
      <div *ngIf="statistics" class="small-text">{{ statistics.daysUntil }}</div>
      <mat-spinner *ngIf="!statistics" diameter="15"></mat-spinner>
      <div class="small-text">{{ 'COMMON.STATISTICS.DAYS' | translate }}</div>
    </div>
  </div>
</div>
