.background-color {
  background-color: #d52485;
  padding-right: 10px;
  padding-left: 10px;
}

.small-text {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

.div-margin {
  margin-right: 10px;
}
