<!--     Copyright (C) 2020 PeopleWare NV-->
<!-- -->
<!--     This program is free software: you can redistribute it and/or modify-->
<!--     it under the terms of the GNU General Public License as published by-->
<!--     the Free Software Foundation, either version 3 of the License, or-->
<!--     (at your option) any later version.-->
<!-- -->
<!--     This program is distributed in the hope that it will be useful,-->
<!--     but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--     GNU General Public License for more details.-->
<!-- -->
<!--     You should have received a copy of the GNU General Public License-->
<!--     along with this program.  If not, see <https://www.gnu.org/licenses/>.-->

<section *ngIf="!formGroup || isBusy" fxFill fxLayoutAlign="column" fxLayoutAlign="center center" fxLayout="column">
  <mat-spinner></mat-spinner>
</section>
<section class="container" fxFill fxLayoutAlign="center start" *ngIf="formGroup && !isBusy">
  <div fxLayout="column" class="pink-march-card" fxFlex.gt-sm="40" fxFlex="90" fxLayoutGap="20px">
    <app-info-title [title]="'TEAM.PROFILE' | translate"></app-info-title>
    <div *ngIf="subgroupId && groupId">
      <app-team-form [formGroup]="formGroup"></app-team-form>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button
          mat-raised-button
          color="accent"
          (click)="saveSubgroup()"
          [disabled]="!formGroup.dirty || isBusy || !formGroup.valid"
        >
          {{ 'SUBGROUP.BUTTONS.SAVE' | translate }}
        </button>
      </div>

      <div fxLayout="column" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start center">
          <h2 class="accent">{{ 'TEAM.ID' | translate }}</h2>
          <button mat-icon-button matTooltip="{{ 'TOOLTIP.COPY_LINK' | translate }}" (click)="copyJoinLink()">
            <mat-icon>file_copy</mat-icon>
          </button>
        </div>
        <p class="margin">{{ 'SUBGROUP.COPY_MESSAGE' | translate }}</p>
        <strong>{{ subgroupId }}</strong>
      </div>

      <div fxLayout="column" fxLayoutAlign="start">
        <h2 class="accent">{{ 'SUBGROUP.MEMBERS' | translate }}</h2>
        <div class="margin" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="100px" fxLayoutGap="20px">
          <div fxLayout="row" fxLayoutGap="10px">
            <table class="slots-table">
              <tr fxLayoutGap="10px">
                <td>{{ 'COMMON.PARTICIPANTS.REGISTERED' | translate }}</td>
                <td>
                  <strong>{{ members.length }}</strong>
                </td>
              </tr>
            </table>
          </div>
          <div fxLayout="column" fxLayoutGap="10px">
            <strong class="padding-top">{{ 'SUBGROUP.MEMBERS' | translate }}:</strong>
            <p class="margin-top">{{ memberList }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!subgroupId">
      <p>{{ 'SUBGROUP.NO_SUBGROUP' | translate }}</p>
      <div>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="add">
            {{ 'SUBGROUP.BUTTONS.ADD' | translate }}
          </mat-button-toggle>
          <mat-button-toggle value="join">
            {{ 'SUBGROUP.BUTTONS.JOIN' | translate }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <br />
      <div *ngIf="group.value === 'add'">
        <app-team-form [formGroup]="formGroup"></app-team-form>
      </div>
      <div *ngIf="group.value === 'join'">
        <form fxLayoutGap="10px" [formGroup]="form">
          <mat-form-field fxFlex color="accent">
            <input
              matInput
              class="form-control"
              [placeholder]="'SUBGROUP.TEAM_ID' | translate"
              name="subgroupId"
              formControlName="subgroupId"
            />
            <mat-error *ngIf="form.controls.subgroupId.errors?.pattern">
              {{ 'SUBGROUP.UUID_ERROR' | translate }}
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div fxLayoutAlign="end" *ngIf="group.value">
        <button
          mat-raised-button
          color="accent"
          (click)="createSubgroup()"
          *ngIf="group.value === 'add'"
          [disabled]="slot.subgroupId || !formGroup.dirty || isBusy || !formGroup.valid || subgroupId"
        >
          {{ 'SUBGROUP.BUTTONS.SAVE' | translate }}
        </button>
        <button
          mat-raised-button
          color="accent"
          [disabled]="notFound || !form.dirty || isSearching || !canJoinSubgroup"
          (click)="joinSubgroup()"
          *ngIf="group.value === 'join'"
        >
          {{ 'SUBGROUP.BUTTONS.SAVE' | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
