.container {
  padding: 20px 0;
}

mat-button-toggle-group {
  flex-wrap: wrap;
}

mat-button-toggle {
  height: 50px !important;
}

.margin {
  margin-top: -10px;
}

.slots-table {
  td:not(:first-of-type) {
    padding-left: 10px;
  }
}

.margin-top {
  margin-top: 0;
}

.padding-top {
  padding-top: 4px;
}

.mat-button-toggle-checked {
  background-color: #ba2e8d;
  color: white;
}
